body {
    font:16px/150% Arial,Verdana;
    color:#333333;
    /*background:#F6F6F6;*/
}

/*顶部的logo部分*/
.header{
    width:100%;
    height: 120px;
    /*background: url("../image/headbg.jpg") bottom left;*/
    /*background-repeat: repeat-x;*/
    box-shadow: 2px 3px 10px 2px #eee;
}
.header .header-content{
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
/*顶部的logo*/
.header .header-content .logo{
    float: left;
    width: 294px;
    height: 120px;
    /*margin-top: 5px;*/
    background: url("../../images/login_logo.png") no-repeat;
    background-size: 100% 100%;
}
.header .header-content span{
    float: left;
    font-size: 24px;
    line-height: 34px;;
    padding-left: 30px;
    margin-top: 70px;
}
.header .header-content .login{
    float: right;
    font-size: 16px;
    margin-top: 75px;
    color: #999;
}
/*中间注册部分*/
.center{
    width: 50%;
    margin:50px auto;
}
.main-content{
    width: 40%;
    margin: 100px auto;
}
.main-content .form-control{
    height: 45px;
    line-height: 45px;
}
#send_email{
    margin-top: 50px;
    width: 100%;
}
.main-content .form-validate{
    position: relative;
    height: 27px;
    color: #c5c5c5;
    font-size: 12px;
    padding-top: 5px;
    margin-left: 5px;
}
.main-content .form-validate a{
    color: #38f;
    float: right;
}
.main-content .form-list{
    border-radius: 4px;
    /*margin-top: 20px;*/
}
/*注册页面的底部声明部分*/
.footer{
    font-size: 12px;
    text-align: center;
    border-top: solid 1px #e6e6e6;
    color: #999;
    padding-bottom: 30px;
}
.footer p a{
    font-size: 12px;
    text-align: center;
    color: #999;
}
.footer p:first-child{
    padding-top: 30px;
    padding-bottom: 15px;
}
.footer p span{
    padding-left: 1px;
    margin: 0 10px;
    font-size: 10px;
    background-color: #999;
}
/*表单验证后出现的小图标*/
.i-def{
    width: 16px;
    height: 16px;
    top: 5px;
    left: 5px;
    position: absolute;
    display: inline-block;
    background: url("../../images/icon.png") no-repeat;
}
.point{
    background-position: 0 -100px;
}
.main-content .form-validate span{
    position: absolute;
    left: 30px;
    top: 2px;
}
.error1,.error2{
    background-position: -17px -100px;
}
.feifa{
    color: #ee2222;
}
.form-list .i-status{
    /*background: url("../../images/icon.png") no-repeat;*/
    position: absolute;
    display: none;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
}
.point2{
    background-position: -34px -117px;
}
.point3{
    background-position: -34px -134px;
}
.point4{
    background-position: -17px -134px;
}

/*模态框*/
.modal.fade.in{
    top:120px;
}
.modal-header{
    background-color: #ee2222;
    color: #FFFFFF;
    font-size: 16px;
}
.modal-content{
    height: 370px;
    border-radius: 0px;
}
.modal-body{
    height: 100px;
    font-size: 14px;
    padding-left: 30px;
}
.modal-body .ask_text{
    text-align: center;
    font:bold 16px/16px "微软雅黑";
}
.del_content{
    height: 300px;
    border-radius: 0px;
}
.del_body{
    height: 180px;
}
.del_body .tip_box{
    margin: 20px auto;
    height: 100px;
    width: 100px;
}
.del_body .tip_box img{
    width: 100%;
    height: 100%;
}
#success_operation_Modal .modal-header{
    background-color: #ffb412;
}