.wechat_pay{
    padding-bottom: 100px;
}

.scan_box{
    height: 400px;
    margin: 50px auto;
    padding-top: 20px;
}
.scan_box .scan_left,.scan_box .scan_tip{
    float: left;
}
.scan_box .scan_left{
    height: 300px;
    width: 300px;
    border: 1px solid #333333;
    margin: 0 30px 0 300px;
}
.scan_left img{
    width: 100%;
    height:100%;
}
.scan_left .scan_text{
    height: 70px;
    width: 300px;
    margin-top: 2px;
    padding: 10px;
    background-color: salmon;
    color: #FFFFFF;
    font: 400 14px/14px "微软雅黑";
}
.scan_pic,.text{
    float: left;
    margin-left: 20px;
}
.scan_pic{
    margin-top: -5px;
}

.text span{
    display: block;
    margin: 10px;
}
.do_not_pay{
    height: 50px;
    margin: 20px 0 0 20px;
    cursor: pointer;
}
.do_not_pay i{
    /*font-family: "宋体";*/
    font: bold 18px/30px "宋体";
    color: #2ea7e7;
}
.do_not_pay span{
    font: bold 16px/30px "微软雅黑";
    color:#2ea7e7;
    margin-left: 20px;
}
#success_update_Modal .modal-header,#online_check_Modal .modal-header{
    background-color: #ffb412;
}

.del_content{
    height: 300px;
    border-radius: 0px;
}
.del_body {
    height: 180px;
}
.del_body .tip_box{
    margin: 20px auto;
    height: 100px;
    width: 100px;
}
.del_body .tip_box img{
    width: 100%;
    height: 100%;
}
.del_body .update_text,.del_body .ask_text{
    text-align: center;
    font:bold 16px/16px "微软雅黑";
}